.header-menu a {
    text-transform: uppercase;
    color: #0F1B24;
}

.header-menu__item-header {
    display: flex;
    align-items: center;
}

.header-menu__item-header img {
    transition: all .3s;
}

.header-menu__submenu {
    display: none;
}

.header-menu__submenu li {
    line-height: 24px;
    letter-spacing: -.2px;
}

.header-menu__submenu li:not(:last-child) {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .header-menu {
        flex-grow: 1;
    }

    .header-menu a:hover {
        color: #38B44A;
    }

    .header-menu__list {
        display: flex;
        justify-content: center;
        column-gap: 28.6px;
    }

    .header-menu__item {
        position: relative;
        margin-bottom: -11px;
        padding-bottom: 11px;
    }

    .header-menu__item:hover .header-menu__submenu {
        display: block;
    }

    .header-menu__item:hover img {
        transform: rotate(-180deg)
    }

    .header-menu__item-header {
        column-gap: 5px;
    }

    .header-menu__submenu {
        display: none;
        position: absolute;
        z-index: 1;
        width: 339px;
        left: -30px;
        top: 100%;
        padding: 30px;
        background: #fff;
        box-shadow: 0px 10px 32px -4px #18274B1A, 0px 6px 14px -6px #18274B1F;
    }
}

@media (max-width: 1199px) {
    body:has(.mobile-menu__wrapper.active) {
        overflow: hidden;
    }

    .mobile-menu__button {
        color: #0F1B24;
    }

    .mobile-menu__button:hover {
        color: #38B44A;
    }

    .mobile-menu__wrapper {
        visibility: hidden;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .mobile-menu__wrapper.active {
        visibility: visible;
    }

    .mobile-menu__wrapper.active .mobile-menu__bg {
        opacity: 1;
    }

    .mobile-menu__wrapper.active .mobile-menu {
        transform: translateX(0);
    }

    .mobile-menu__bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(15, 27, 36, 0.7);
        opacity: 0;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        max-width: 100%;
        width: 360px;
        background: #fff;
        transform: translateX(-100%);
        transition: .6s;
    }

    .mobile-menu__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 20px;
        border: 1px solid rgba(231, 231, 231, 1);
    }

    .mobile-menu__button-close {
        color: #0F1B24;
    }

    .mobile-menu__button-close:hover {
        color: #38B44A;
    }

    .mobile-menu__content {
        overflow-y: auto;
        overflow-x: hidden;
        flex-grow: 1;
    }

    .mobile-menu .header-menu {
        display: block;
    }

    .header-menu {
        display: none;
        padding: 31px 20px;
    }

    .header-menu__item-header {
        position: relative;
        font-size: 18px;
        line-height: 27px;
    }

    .header-menu > ul > li:not(:last-child) {
        margin-bottom: 40px;
    }

    .header-menu__item-header {
        justify-content: space-between;
    }

    .header-menu__item-header.active + .header-menu__submenu {
        display: block;
    }

    .header-menu__item-header.active .header-menu__arrow {
        transform: translateY(-50%) rotate(180deg);
    }

    .header-menu__submenu {
        padding-top: 20px;
    }

    .header-menu__submenu a {
        color: #495157;
    }

    .header-menu__arrow {
        padding: 15px;
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 767px) {
    .mobile-menu__content {
        /*height: calc(100% - 80px - 189px);*/
    }
    .mobile-menu__footer {
        padding: 30px 20px;
        border-top: 1px solid #E7E7E7;
    }
    .mobile-menu__footer .header__contacts {
        display: flex;
        margin-right: 0;
    }
    .mobile-menu__footer .button {
        margin-top: 30px;
        width: 100%;
    }
}